/* Variables de tema para el admin */
#admin-root {
    --ad-bg: #f5f5f0;
    --ad-surface: #ffffff;
    --ad-surface2: #f0f0f0;
    --ad-border: #e8e8e8;
    --ad-text: #1a1a1a;
    --ad-text2: #888;
    --ad-text3: #999;
    --ad-text4: #bbb;
    --ad-btn-bg: #1a1a1a;
    --ad-btn-text: #ffffff;
    --ad-btn-hover: #333333;
    --ad-input-bg: #f0f0f0;
    --ad-input-focus: #ffffff;
    --ad-hover: #f5f5f0;
}

#admin-root.dark {
    --ad-bg: #111111;
    --ad-surface: #1a1a1a;
    --ad-surface2: #2a2a2a;
    --ad-border: #333333;
    --ad-text: #f0f0f0;
    --ad-text2: #aaaaaa;
    --ad-text3: #888888;
    --ad-text4: #555555;
    --ad-btn-bg: #f0f0f0;
    --ad-btn-text: #1a1a1a;
    --ad-btn-hover: #dddddd;
    --ad-input-bg: #2a2a2a;
    --ad-input-focus: #333333;
    --ad-hover: #2a2a2a;
}